
<html>
<head>
<title>resource</title>
</head>


<link href="./index.prototype.css" rel="stylesheet" type="text/css"></link>
<link href="../../common/theme/default/style/index.css" rel="stylesheet" type="text/css"></link>


<script language="JavaScript" type="text/JavaScript" src="../../common/script/prototype.js"></script>
<script language="JavaScript" type="text/JavaScript" src="../../common/script/common.js"></script>
<script language="JavaScript" type="text/JavaScript" src="../../common/script/support.js"></script>




<span class="loader">&nbsp;</span>

<br />

<input type="button" value="Load.on();" onclick="Load.on();" />

<br />

<input type="button" value="Load.off();" onclick="Load.off();" />

<br />

<input type="button" value="Msg.exception(e);" onclick="Msg.exception({message:'exception.message', stackTrace:'exception.stackTrace'});" />