<html>
<head>
<title>XHtml</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<link href="./index.prototype.css" rel="stylesheet" type="text/css"></link>
<link href="../theme/default/style/index.css" rel="stylesheet" type="text/css"></link>

<script type="text/javascript" src="../../common/script/prototype.js"></script>
<script type="text/javascript" src="../script/xbutton.js"></script>

</head>



<body style="margin:0;overflow-x:hidden;" scroll="no">






	
<h2>XButton</h2>


<table style="width:100%;" cellpadding="5" cellspacing="0" border="0" align="center">
<tr>
<th>ui</th>
<th>html source</th>
</tr>




<tr>
<td><span class="x_btn_split"></span></td>
<td><xmp><span class="x_btn_split"></span></xmp></td>
</tr>	





	
<tr>
<td><input type="button" id="x_btn" name="x_btn" class="x_btn" value="x_btn" /></td>
<td><xmp><input type="button" id="x_btn" name="x_btn" class="x_btn" value="x_btn" /></xmp></td>
</tr>	








	
<tr>
<td><input type="button" id="x_btn_disabled" name="x_btn_disabled" class="x_btn_disabled" value="x_btn_disabled" /></td>
<td><xmp><input type="button" id="x_btn_disabled" name="x_btn_disabled" class="x_btn_disabled" value="x_btn_disabled" /></xmp></td>
</tr>







	
	
<tr>
<td><input id="x_btn_create"  name="x_btn_create" class="x_btn_create" value="x_btn_create" type="button" /></td>
<td><xmp><input id="x_btn_create"  name="x_btn_create" class="x_btn_create" value="x_btn_create" type="button" /></xmp></td>
</tr>






<tr>
<td><input id="x_btn_refresh"  name="x_btn_refresh"class="x_btn_refresh" value="x_btn_refresh" type="button" /></td>
<td><xmp><input id="x_btn_refresh"  name="x_btn_refresh" class="x_btn_refresh" value="x_btn_refresh" type="button" /></xmp></td>
</tr>
	














	
<tr>
<td><input id="x_btn_enabled"  name="x_btn_enabled" class="x_btn_refresh" value="x_btn_enabled" type="button" /></td>
<td><xmp><input id="x_btn_enabled"  name="x_btn_enabled" class="x_btn_refresh" value="x_btn_enabled" type="button" /></xmp></td>
</tr>	


<tr>
<td colspan="2"><input type="button" value="xbtnDisable('x_btn_enabled');" onclick="xbtnDisable('x_btn_enabled');" />
<input type="button" value="xbtnEnable('x_btn_enabled');" onclick="xbtnEnable('x_btn_enabled');" /></td>
</tr>	



	
<tr>
<td><input id="x_btn_disabeld" name="x_btn_disabeld" type="button" class="x_btn_refresh disabled" value="x_btn_disabeld" disabled="true" /></td>
<td><xmp><input id="x_btn_disabeld" name="x_btn_disabeld" type="button" class="x_btn_refresh disabled" value="x_btn_disabeld" disabled="true" /></xmp></td>
</tr>	


<tr>
<td colspan="2"><input type="button" value="xbtnDisable('x_btn_disabeld');" onclick="xbtnDisable('x_btn_disabeld');" />
<input type="button" value="xbtnEnable('x_btn_disabeld');" onclick="xbtnEnable('x_btn_disabeld');" /></td>
</tr>	





<tr>
<td><span class="x_explanation" onclick="xexplain('name');" title="解释" /></td>
<td><xmp><input class="x_calendar" /></xmp></td>
</tr>






</table>









</body>
</html>


