<html>
<head>
<title>XHtml</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<link href="./index.prototype.css" rel="stylesheet" type="text/css"></link>
<link href="../theme/default/style/index.css" rel="stylesheet" type="text/css"></link>

</head>



<body style="margin:0;overflow-x:hidden;" scroll="no">




	
	
	
<h2>XForm</h21>

	
	


	
	
	
<table style="width:100%;" cellpadding="5" cellspacing="0" border="0" align="center">
<tr>
<th>ui</th>
<th>html source</th>
</tr>
	
	
	
	
	
<tr>
<td>

<table class="x_form" style="width:300;" cellspacing="1" cellpadding="0" border="0" align="center">
<tr>
<td class="x_form_label">x_form_label</td>
<td class="x_form_field">x_form_field</td>
</tr>
<tr>
<td class="x_form_label">x_form_label</td>
<td class="x_form_field">x_form_field</td>
</tr>
<tr>
<td class="x_form_empty" colspan="2">x_form_empty</td>
</tr>
</table>
	
</td>
<td><xmp>
	
<table class="x_form" style="width:300;" cellspacing="1" cellpadding="0" border="0" align="center">
<tr>
<td class="x_form_label">x_form_label</td>
<td class="x_form_field">x_form_field</td>
</tr>
<tr>
<td class="x_form_label">x_form_label</td>
<td class="x_form_field">x_form_field</td>
</tr>
<tr>
<td class="x_form_empty" colspan="2">x_form_empty</td>
</tr>
</table>

</xmp></td>
</tr>
	


	
</table>


























</body>

</html>