<html>
<head>
<title>XHtml</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<link href="./index.prototype.css" rel="stylesheet" type="text/css"></link>
<link href="../theme/default/style/index.css" rel="stylesheet" type="text/css"></link>

</head>



<body style="margin:0;overflow-x:hidden;" scroll="no">





	
<h2>XHtml</h2>

	
	



	
<table style="width:100%;" cellpadding="5" cellspacing="0" border="0" align="center">
<tr>
<th>ui</th>
<th>html source</th>
</tr>
	

	
	
	
<tr>
<td><input id="x_text" name="x_text" class="x_text" value="x_text" /></td>
<td><xmp><input id="x_text" name="x_text" class="x_text" value="x_text" /></xmp></td>
</tr>
	

	
	
	

<tr>
<td><input id="x_text_focus" name="x_text_focus" class="x_text_focus" value="x_text_focus" /></td>
<td><xmp><input id="x_text_focus" name="x_text_focus" class="x_text_focus" value="x_text_focus" /></xmp></td>
</tr>


	
	
	
	

<tr>
<td><input id="x_text_readonly" name="x_text_readonly" class="x_text_readonly" value="x_text_readonly" /></td>
<td><xmp><input id="x_text_readonly" name="x_text_readonly" class="x_text_readonly" value="x_text_readonly" /></xmp></td>
</tr>
	
	
	
	
	
	
	

<tr>
<td><select id="x_select" name="x_select" class="x_select" style="width:100%;">
<option>x_select</option>
</select></td>
<td><xmp><select id="x_select" name="x_select" class="x_select" style="width:100%;">
<option>x_select</option>
</select></xmp></td>
</tr>	

	
	

	
	
	
	
	
	
<tr>
<td><select id="x_select_focus" name="x_select_focus" class="x_select_focus" style="width:100%;">
<option value="x_select_focus">x_select_focus</option>
</select></td>
<td><xmp><select id="x_select_focus" name="x_select_focus" class="x_select_focus" style="width:100%;">
<option value="x_select_focus">x_select_focus</option>
</select></xmp></td>
</tr>		
	
	
	
	
	
	
	
	
	
<tr>
<td><textarea id="x_textarea" name="x_textarea" class="x_textarea" style="width:100%;" rows="4">x_textarea</textarea></td>
<td><xmp><textarea id="x_textarea" name="x_textarea" class="x_textarea" style="width:100%;" rows="4">x_textarea</textarea></xmp></td>
</tr>	
	
	
	
	
	
	
	
<tr>
<td><textarea id="x_textarea_focus" name="x_textarea_focus" class="x_textarea_focus" style="width:100%;" rows="4">x_textarea_focus</textarea></td>
<td><xmp><textarea id="x_textarea_focus" name="x_textarea_focus" class="x_textarea_focus" style="width:100%;" rows="4">x_textarea_focus</textarea></xmp></td>
</tr>	
	
		

	
	
	
	
	
	

	
	
<tr>
<td><textarea id="x_textarea_readonly" name="x_textarea_readonly" class="x_textarea_readonly" style="width:100%;" rows="4">x_textarea_readonly</textarea></td>
<td><xmp><textarea id="x_textarea_readonly" name="x_textarea_readonly" class="x_textarea_readonly" style="width:100%;" rows="4">x_textarea_readonly</textarea></xmp></td>
</tr>	
	
	
	
	
		
<tr>
<td><label for="checkbox"><input id="checkbox" name="checkbox" value="checkbox" type="checkbox" />checkbox</label></td>
<td><xmp><label for="checkbox"><input id="checkbox" name="checkbox" value="checkbox" type="checkbox" />checkbox</label></xmp></td>
</tr>
	










		
<tr>
<td><input class="x_reference" /></td>
<td><xmp><input class="x_reference" /></xmp></td>
</tr>











<tr>
<td><input class="x_calendar" /></td>
<td><xmp><input class="x_calendar" /></xmp></td>
</tr>






	
	
</table>
	
	
	





















</body>

</html>