<html>
<head>
<title>XHtml</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<link href="./index.prototype.css" rel="stylesheet" type="text/css"></link>
<link href="../theme/default/style/index.css" rel="stylesheet" type="text/css"></link>

<script type="text/javascript" src="../../common/script/prototype.js"></script>
<script type="text/javascript" src="../script/xresizer.js"></script>


</head>


<body style="margin:0;overflow-x:hidden;" scroll="no">



	
<table style="width:100%;height:100%;border:1px solid blue;" border="0" cellspacing="0" cellpadding="0" align="center">	

<tr>
<td style="height:100;border-bottom:1px solid #CCC;">
<h1>XSlider</h1>
</td>
</tr>








<tr>
<td>
	<table style="width:100%;height:100%;" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr style="height:100;">
	
	<td style="width:180;">
	d
	</td>
	
	
	
	
	<td class="x_resizer_vertical"><div id="verticalResizer"></div></td>	
	
		
	<td>
		
		s
		
		
	</td>
	
	</tr>
	</table>
</td>
</tr>







<tr class="x_resizer_horizontal"><td><div id="horizontalResizer"></div></td></tr>



<tr style="height:100;">
<td>
<div id="output">output</div>
</td>
</tr>

</table>

<script language="JavaScript" type="text/JavaScript">
<!--
XResizer.vertical('verticalResizer');
XResizer.horizontal('horizontalResizer');
//-->
</script>
</body>


</html>
