<html>
<head>
<title>XHtml</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<link href="./index.prototype.css" rel="stylesheet" type="text/css"></link>
<link href="../theme/default/style/index.css" rel="stylesheet" type="text/css"></link>

<script type="text/javascript" src="../../common/script/prototype.js"></script>
<script type="text/javascript" src="../script/xtab.js"></script>

</head>



<body style="margin:0;overflow-x:hidden;" scroll="no">

<div style="width:100%;height:100%;overflow:auto;">

<h2>XTab</h2>





		
	
	
<table style="width:100%;" cellpadding="5" cellspacing="0" border="0" align="center">
<tr>
<th>ui</th>
<th>html source</th>
</tr>
	
	
	
	
	
	
	











<!-- background-color:#C3DAF9; -->
<tr>
<td>

	
<table class="x_tab_bar" style="width:100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="x_tab_first">&nbsp;</td>
<td nowrap="true" valign="bottom"><span
 class="x_tab_on" content="content1" onclick="xTab(this);"><span class="x_tab_text_on">签签签签签</span></span><span 
 class="x_tab" content="content2" onclick="xTab(this);"><span class="x_tab_text">签签签签签Conten</span></span><span 
 class="x_tab" content="content2" onclick="xTab(this);"><span class="x_tab_text">签签签签签</span></span></td>
<td class="x_tab_last">&nbsp;</td>
</tr>
<tr><td colspan="3" class="x_tab_separator"></td></tr>
</table>
	
<div id="content1" style="display:block;">Content签X1</div>
<div id="content2" style="display:none;">Content签X2</div>
<div id="content3" style="display:none;">Content签X3</div>
	
</td>
<td><xmp>
	
<table class="x_tab_bar" style="width:100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="x_tab_first">&nbsp;</td>
<td nowrap="true" valign="bottom"><span
 class="x_tab_on" content="content1" onclick="xTab(this);"><span class="x_tab_text_on">签签签签签</span></span><span 
 class="x_tab" content="content2" onclick="xTab(this);"><span class="x_tab_text">签签签签签Conten</span></span><span 
 class="x_tab" content="content2" onclick="xTab(this);"><span class="x_tab_text">签签签签签</span></span></td>
<td class="x_tab_last">&nbsp;</td>
</tr>
<tr><td colspan="3" class="x_tab_separator"></td></tr>
</table>
	
<div id="content1" style="display:block;">Content签X1</div>
<div id="content2" style="display:none;">Content签X2</div>
<div id="content3" style="display:none;">Content签X3</div>
</xmp></td>
</tr>
	

	


<td>

	
<table class="v_tab_bar" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="v_tab_first">&nbsp;</td>
<td align="right">
<span class="v_tab_on" content="contentv1" onclick="vTab(this);"><span class="v_tab_text_on">签</span></span>
<span class="v_tab" content="contentv2" onclick="vTab(this);"><span class="v_tab_text">签</span></span>
<span class="v_tab" content="contentv3" onclick="vTab(this);"><span class="v_tab_text">签</span></span>
</td>
<td class="v_tab_last">&nbsp;</td>
</tr>
</table>
	
<div id="contentv1" style="display:block;">Content签X1</div>
<div id="contentv2" style="display:none;">Content签X2</div>
<div id="contentv3" style="display:none;">Content签X3</div>
	
</td>













	
	
	
	
	
	
	
	
	
	
	

	
</table>







</div>




</body>
</html>
