.x-panel-header-intoolbar {
	overflow:hidden;
    zoom:1;
    padding:2px 5px 3px 5px;
    color:#15428b;
    font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
}

/**MetaEntityType*/
.met_device { background-image: url(../image/met_device.png) !important; }
.met_shelf { background-image: url(../image/met_shelf.png) !important; }
.met_slot { background-image: url(../image/met_slot.png) !important; }
.met_card { background-image: url(../image/met_card.png) !important; }
.met_port { background-image: url(../image/met_port.png) !important; }


/**EntityType*/
.et_ac { background-image: url(../../../../context/assets/business/entitytype/wlan/AC.16.png) !important; }
.et_aggregationaccess { background-image: url(../../../../context/assets/business/entitytype/data/PROTOCOLCONVERTER.16.png) !important; }
.et_antenna { background-image: url(../../../../context/assets/business/entitytype/wireless/ANTENNA.16.png) !important; }
.et_ap { background-image: url(../../../../context/assets/business/entitytype/wlan/AP.16.png) !important; }
.et_backup { background-image: url(../../../../context/assets/business/entitytype/data/BACKUP.16.png) !important; }
.et_bas { background-image: url(../../../../context/assets/business/entitytype/data/BRAS.16.png) !important; }
.et_bbu { background-image: url(../../../../context/assets/business/entitytype/wireless/BBU.16.png) !important; }
.et_bits { background-image: url(../../../../context/assets/business/entitytype/synchronization/BITS.16.png) !important; }
.et_bsc { background-image: url(../../../../context/assets/business/entitytype/wireless/BSC.16.png) !important; }
.et_bts { background-image: url(../../../../context/assets/business/entitytype/wireless/BTS.16.png) !important; }
.et_cg { background-image: url(../../../../context/assets/business/entitytype/gprs/CG.16.png) !important; }
.et_ddf { background-image: url(../../../../context/assets/business/entitytype/gis/DDF.16.png) !important; }
.et_distributor { background-image: url(../../../../context/assets/business/entitytype/wireless/DISTRIBUTOR.16.png) !important; }
.et_dslam { background-image: url(../../../../context/assets/business/entitytype/data/DSLAM.16.png) !important; }
.et_firewall { background-image: url(../../../../context/assets/business/entitytype/data/FW.16.png) !important; }
.et_ggsn { background-image: url(../../../../context/assets/business/entitytype/gprs/GGSN.16.png) !important; }
.et_hlr { background-image: url(../../../../context/assets/business/entitytype/core/HLR.16.png) !important; }
.et_mgw { background-image: url(../../../../context/assets/business/entitytype/core/MGW.16.png) !important; }
.et_msc { background-image: url(../../../../context/assets/business/entitytype/access/MMSC.16.png) !important; }
.et_narrowbandolt { background-image: url(../../../../context/assets/business/entitytype/data/OLT.16.png) !important; }
.et_narrowbandonu { background-image: url(../../../../context/assets/business/entitytype/data/ONU.16.png) !important; }
.et_nodeb { background-image: url(../../../../context/assets/business/entitytype/wireless/NODEB.16.png) !important; }
.et_occp { background-image: url(../../../../context/assets/business/entitytype/gis/OCCP.16.png) !important; }
.et_odf { background-image: url(../../../../context/assets/business/entitytype/gis/ODF.16.png) !important; }
.et_odp { background-image: url(../../../../context/assets/business/entitytype/gis/odp.16.png) !important; }
.et_olt { background-image: url(../../../../context/assets/business/entitytype/data/OLT.16.png) !important; }
.et_omc { background-image: url(../../../../context/assets/business/entitytype/data/OMC.16.png) !important; }
.et_onu { background-image: url(../../../../context/assets/business/entitytype/data/ONU.16.png) !important; }
.et_opticalcablereservation { background-image: url(../../../../context/assets/business/entitytype/gis/OpticalCableReservation.16.png) !important; }
.et_opticalmodem { background-image: url(../../../../context/assets/business/entitytype/data/PROTOCOLCONVERTER.16.png) !important; }
.et_opticalspliceclosure { background-image: url(../../../../context/assets/business/entitytype/gis/OpticalSpliceClosure.16.png) !important; }
.et_opticalterminalbox { background-image: url(../../../../context/assets/business/entitytype/gis/OpticalTerminalBox.16.png) !important; }
.et_pbx { background-image: url(../../../../context/assets/business/entitytype/core/PBX.16.png) !important; }
.et_pcu { background-image: url(../../../../context/assets/business/entitytype/wireless/PCU.16.png) !important; }
.et_prc { background-image: url(../../../../context/assets/business/entitytype/synchronization/PRC.16.png) !important; }
.et_protocolconverter { background-image: url(../../../../context/assets/business/entitytype/data/PROTOCOLCONVERTER.16.png) !important; }
.et_rack { background-image: url(../../../../context/assets/business/entitytype/data/RACK.16.png) !important; }
.et_rnc { background-image: url(../../../../context/assets/business/entitytype/wireless/RNC.16.png) !important; }
.et_router { background-image: url(../../../../context/assets/business/entitytype/data/ROUTER.16.png) !important; }
.et_rru { background-image: url(../../../../context/assets/business/entitytype/wireless/RRU.16.png) !important; }
.et_satellite { background-image: url(../../../../context/assets/business/entitytype/synchronization/SATELLITE.16.png) !important; }
.et_satelliteantenna { background-image: url(../../../../context/assets/business/entitytype/synchronization/SATELLITEDISH.16.png) !important; }
.et_satellitedevice { background-image: url(../../../../context/assets/business/entitytype/synchronization/SATELLITEDEVICE.16.png) !important; }
.et_satellitereceiver { background-image: url(../../../../context/assets/business/entitytype/synchronization/SATELLITERECEIVER.16.png) !important; }
.et_sbc { background-image: url(../../../../context/assets/business/entitytype/data/SBC.16.png) !important; }
.et_sdh { background-image: url(../../../../context/assets/business/entitytype/transmission/SDH.16.png) !important; }
.et_server { background-image: url(../../../../context/assets/business/entitytype/data/SERVER.16.png) !important; }
.et_splitter { background-image: url(../../../../context/assets/business/entitytype/data/SPLITTER.16.png) !important; }
.et_storage { background-image: url(../../../../context/assets/business/entitytype/sms/STORAGE.16.png) !important; }
.et_stp { background-image: url(../../../../context/assets/business/entitytype/core/STP.16.png) !important; }
.et_switch { background-image: url(../../../../context/assets/business/entitytype/data/SW.16.png) !important; }
.et_tc { background-image: url(../../../../context/assets/business/entitytype/wireless/TC.16.png) !important; }
.et_tower { background-image: url(../../../../context/assets/business/entitytype/wireless/TOWER.16.png) !important; }
.et_compositiverack { background-image: url(../../../../context/assets/business/entitytype/data/RACK.16.png) !important; }
.et_otherpowerdevice { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/otherpowerdevice.16.png) !important; }
.et_owdistributioncabinet { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/LOWPOWERROOM.16.png) !important; }
.et_powersupply { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/SWITCHROOM.16.png) !important; }
.et_solarenergyequipment { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/SolarEnergyEquipment.16.png) !important; }
.et_specairconditioner { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AirConditioner.16.png) !important; }
.et_acdistributioncabinet { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AcDistributionCabinet.16.png) !important; }
.et_aupowerswitch { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AuPowerSwitch.16.png) !important; }
.et_batterypack { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/BATTERYROOM.16.png) !important; }
.et_batterythermostat { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/BatteryThermostat.16.png) !important; }
.et_centralaircondisystem { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AirConditioner.16.png) !important; }
.et_centralairconditioner { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AirConditioner.16.png) !important; }
.et_commairconditioner { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AirC Q.16.png) !important; }
.et_contravariantpower { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/ContravariantPower.16.png) !important; }
.et_dcdistributioncabinet { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/Cabinet.16.png) !important; }
.et_heatexchangesystem { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AuPowerSwitch.16.png) !important; }
.et_manostat { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/Manostat.16.png) !important; }
.et_measurementtools { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/MeasurementTools.16.png) !important; }
.et_monitoringequipment { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/MonitoringEquipment.16.png) !important; }
.et_movementgenerator { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/powerdevice.16.png) !important; }
.et_transformer { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/AuPowerSwitch.16.png) !important; }
.et_ventilationsystem { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/WINDROOM.16.png) !important; }
.et_windenergyplants { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/WINDROOM.16.png) !important; }
.et_windsolarhybridcontro { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/Controller.16.png) !important; }
.et_htdistributioncabinet { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/cabinet.16.png) !important; }
.et_windpowercontroller { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/Controller.16.png) !important; }
.et_mss { background-image: url(../../../../context/assets/business/entitytype/core/SSA.16.png) !important; }
.et_lpr { background-image: url(../../../../context/assets/business/entitytype/synchronization/LPR.16.png) !important; }
.et_repeter { background-image: url(../../../../context/assets/business/entitytype/wireless/REPETER.16.png) !important; }
.et_powerdevice { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/powerdevice.16.png) !important; }
.et_solarenergycontroller { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/Controller.16.png) !important; }
.et_generatorset { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/powerdevice.16.png) !important; }
.et_ups { background-image: url(../../../../context/assets/business/entitytype/power/powerdevice/BAT UPS.16.png) !important; }

