
.x_list_container {	
	width:100%;
	height:100%;
	overflow:auto;	
}

.x_list_head_row {
	height:22;
}

.x_list_head_row_fixed {
	height:22;
	position:relative;
	top:expression(this.offsetParent.scrollTop);
}

.x_list_head_handle {	
	width:22;
	height:22;
	color:#3D4A69;
	font-size:12;
	font-weight:bold;
	text-align:center;
	background-color:#E2EFFE;/*E9F0F4*/
	font-family:Verdana,Simsun;
	border:1 solid;
	border-color:threedhighlight #98C0F4 #98C0F4 threedhighlight;
	left:expression(this.offsetParent.scrollLeft);
}



.x_list_head_asc  ,
.x_list_head_desc ,
.x_list_head_cell {
	border:1 solid;
	border-color:threedhighlight #98C0F4 #98C0F4 threedhighlight;/*688293*/
	height:22;
	color:#07215F;
	font-size:12px;
	font-weight:bold;
	/*overflow:visible;*/
	word-wrap:normal;
	text-align:center;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	background-color:#E2EFFE;/*E9F0F4*/
	font-family:Verdana,Simsun;
}

.x_list_head_asc  {	background:url(../image/xlist/x_icon_asc.gif  ) no-repeat center right;}
.x_list_head_desc {	background:url(../image/xlist/x_icon_desc.gif ) no-repeat center right;}

.x_list_body_handle {	
	width:22;
	font-size:12px;
	overflow:hidden;	
	text-align:center;	
	word-wrap:normal;	
	word-break:keep-all;
	font-family:Verdana,Simsun;
}

.x_list_body_cell {
	height:22;	
	font-size:12px;
	padding-left:1;
	word-break:keep-all;
	text-overflow:ellipsis;
	/*ellipsis|clip;white-space:nowrap;word-wrap:normal;	padding-top:2;
	overflow:visible;*/
	font-family:Verdana,Simsun;
}
/*
.x_list_key_font {
	color:#3A47C0;	
	font-size:12;
	font-weight:bold;
	font-family:Verdana,Simsun;
}
*/










