<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userSessionInteceptor" class="com.irm.web.system.usersession.support.UserSessionInteceptor" init-method="init">
		<property name="userSessionManagementService" ref="userSessionManagementService" />
		<property name="userSessionCookieHelper" ref="userSessionCookieHelper" />
	</bean>
	
	
	<bean id="userSessionCookieHelper" class="com.irm.web.system.usersession.support.UserSessionCookieHelper" >
		<property name="userSessionManagementService" ref="userSessionManagementService" />
	</bean>
	
	<bean id="desktopAction" class="com.irm.web.system.management.action.DesktopAction" autowire="byName" init-method="init">

	</bean>
	
</beans>