/* BEGIN COPYRIGHT
 **************************************************************************
 *
 * Licensed Materials - Property of IBM
 * 5655-FLW
 * (C) Copyright IBM Corporation 2008. All Rights Reserved.
 * US Government Users Restricted Rights- Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 **************************************************************************
 * END COPYRIGHT */

.base {
	right: 0;
}

.bubbleIcon {
	float: right;	
}

.bubbleLeft {
	float: right;
}

.bubbleMiddle {
	float: right;
}

.bubbleRight {
	float: right;
}

.scrollContainer {
    margin-right: 20px;
}



